.row {
  margin: 1em 0;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
label {
  margin-right: 1em;
}
.species-list {
  display: flex;
  flex-direction: column;
  ul {
    display: inline-flex;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    list-style: none;
    margin: 0;
    width: 100%;
    &:nth-child(even) {
      background-color: #f2f2f2;
    }
    &.header {
      font-weight: bold; 
    }

    li {
      list-style: none;
      margin: 0;
      width: 100%;
    }
    li.latin {
      font-style: italic;
      font-weight: bold; 
    }
    li.latin-syn {
      font-style: italic;
    }
  }
}
